@external tree-row;

.tree-row {
    border-bottom: 1px solid #fafafa;
}

.tree-row:hover {
    background: #f5f5f5;
}

.tree-row--selected {
    background: #d5e1fa !important;
}

.tree-row--selected:hover {
    background: #d5e1fa !important;
}

.tree-row__handle {
}

.tree-row--drag-over {
    background: royalblue !important;
    color: white !important;
}