@external gt-*;

.gt-tree {
    outline: none;
}

.gt-tree__row {
}

.gt-tree__row:hover {
    background-color: #f5f5f5;
}

.gt-tree__row--selected {
    background-color: literal("var(--gt-tree__row--selected--background-color, #d5e1fa)");
    color: literal("var(--gt-tree__row--selected--color)");
}

.gt-tree__row--selected:hover {
    background-color: literal("var(--gt-tree__row--selected--background-color, #d5e1fa)");
}

.gt-tree__handle {
}

.gt-tree__rendering {

}

.gt-tree__row--drag-over {
    background-color: royalblue;
    color: white;
}